
VITE_SUPABASE_URL=https://wpdshbbisumvujbmpfkd.supabase.co
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndwZHNoYmJpc3VtdnVqYm1wZmtkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyNDQ2NTksImV4cCI6MjA4NzgyMDY1OX0.PkQW4iRLmnGAqCy9-uGeIu4Qsrh4dHkV_Xo29rNGUPQ
